accelerate
streamlit_option_menu
aiohttp
aiosignal
async-timeout
attrs
auto-gptq
bitsandbytes
certifi
charset-normalizer
cloudpickle
coloredlogs
contourpy
cycler
datasets
dill
filelock==3.13.1
fonttools==4.44.1
frozenlist==1.4.0
fsspec==2023.10.0
gekko==1.0.6
huggingface-hub
humanfriendly
idna
importlib-resources
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
numba
numpy
packaging
pandas
peft
Pillow
protobuf
psutil
pyarrow
pyarrow-hotfix
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rouge
safetensors
scipy
sentencepiece
six
slicer
sympy
threadpoolctl
tokenizers==0.15.0
torch==2.1.1
tqdm
transformers==4.39.3
triton
typing-extensions
tzdata
urllib3
xxhash
yarl
zipp